<app-home></app-home>
<div class="fCadastro">
  <h3>Salvar Clientes</h3>
  <div class="conteudoCadastro">
    <div>
      <div>
        <input
          type="text"
          class="cliente"
          placeholder="Nome do Cliente"
          [(ngModel)]="cliente.nomeCli"
        />
      </div>

      <small class="text-danger d-block mt-2">
        Campo Obrigatório!
      </small>
    </div>
    <div>
      <div>
        <input
          class="cliente"
          placeholder="Endereço"
          [(ngModel)]="cliente.endCli"/>
      </div>

      <small class="text-danger d-block mt-2">
        Campo Obrigatório!
      </small>
    </div>
    <div>
      <div>
        <input 
            class="cliente" 
            [(ngModel)]="cliente.limiteCred"
            placeholder="Limite de Crédito"/>
      </div>

      <small class="text-danger d-block mt-2">
        Campo Obrigatório!
      </small>
    </div>
    <div>
      <div>
        <input 
            [(ngModel)]="cliente.limiteParc"
            class="cliente" 
            placeholder="Limite da Parcela"/>
      </div>

      <small class="text-danger d-block mt-2">
        Campo Obrigatório!
      </small>
    </div>

    <div>
      <button (click)="create()" class="btn btn-success">Salvar</button>
      <button type="button" class="btn btn-secondary" routerLink="/clientes">
        Voltar
      </button>
    </div>
  </div>
</div>
