<div class="sidebar-container">
    <div class="sidebar-logo">
        <img
        width="100"
        alt="ViaLaser Logo"
        src="assets/indice.jpeg"/>
    </div>
    <ul class="sidebar-navigation">
      <li class="header">Menu</li>
      <li>
        <a routerLink="/clientes">
          <i class="fa fa-home" aria-hidden="true"></i> Clientes
        </a>
      </li>
      <li>
        <a routerLink="/produtos">
          <i class="fa fa-tachometer" aria-hidden="true"></i> Produtos
        </a>
      </li>
      <li class="header">Menu Cadastro</li>
      <li>
        <a routerLink="/clientedetalhes">
          <i class="fa fa-users" aria-hidden="true"></i> Cadastro Clientes
        </a>
      </li>
      <li>
        <a routerLink="/produtosdetalhes">
          <i class="fa fa-cog" aria-hidden="true"></i> Cadastro Produtos
        </a>
      </li>
    </ul>
  </div>
  
  <div class="content-container">
  
    <div class="container-fluid">
     
      </div>
  
    </div>
<router-outlet></router-outlet>