<app-home></app-home>
<div class="fCadastro">
  <h3>Cadastro Produtos</h3>
  <div class="conteudoCadastro">
    <form class="conteudoform" [formGroup]="formgroup">
      <div>
        <div>
          <input type="text" class="produto" placeholder="Nome Produto" formControlName="nomeproduto"
            [(ngModel)]="produto.nomeProd" required />
        </div>


      </div>
      <div>
        <div>
          <input type="text" class="produto" placeholder="Descrição Produto" formControlName="descproduto"
            [(ngModel)]="produto.descProd" requerid />
        </div>

      </div>
      <div>
        <div>
          <input type="text" class="produto" placeholder="Valor Produto" formControlName="valorproduto"
            [(ngModel)]="produto.valorProd" requerid />
        </div>

        <small class="text-danger d-block mt-2">
          Campos Obrigatórios!
        </small>
      </div>
      <div>
        <button (click)="create()" class="btn btn-success" [disabled]="!formgroup.valid">Salvar</button>
        <button type="button" class="btn btn-secondary" routerLink="/produtos">Voltar</button>
      </div>
    </form>
  </div>
</div>