<app-home></app-home>
<div class="fprodutos">
    <h3>Tabela Produtos</h3>
    <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Procurar...">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Procurar</button>
    </form>
    <div class="conteudoproduto">
       <div class="conteudoform">
           <a routerLink="/produtosdetalhes" class="btn btn-success">Novo</a>
           <table class="conteudotable">   
               <thead class="conteudoheadtable">
                   <tr>
                     <th>Nome</th>
                     <th>Descrição</th>
                     <th>Valor</th>
                     
                   </tr>
               </thead>
               <tbody>  
                <tr *ngFor = "let p of produtos" [routerLink]="['/produtos',p.id]">
                    <td>{{p.nomeProd}}</td>
                    <td>{{p.descProd}}</td>
                    <td>{{p.valorProd}}</td>
                    <td>
                        <button (click)="delete(produto.id)" type="button" class="btn btn-danger">Deletar</button>
                        <button (click)="update(produto.id)" type="button" class="btn btn-warning">Update</button>
                    </td>
                       </tr>
               </tbody>
           </table>
       </div>
    </div>
 </div>